@font-face {
    font-family: "WorkSans-Regular";
    src: url('./WorkSans-Regular.ttf'),
}

@font-face {
    font-family: "WorkSans-Bold";
    src: url('./WorkSans-Bold.ttf'),
}

@font-face {
    font-family: "WorkSans-SemiBold";
    src: url('WorkSans-SemiBold.ttf'),

}

@font-face {
    font-family: "WorkSans-Medium";
    src: url('WorkSans-Medium.ttf'),

}

@font-face {
    font-family: "WorkSans-light";
    src: url('WorkSans-light.ttf'),

}